<%post= Post.new%>
<%= form_for(post, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, value: session[:user_id]%>
  </div>

  <div class="field">
    <%= form.label :post_image %>
    <%= form.file_field :post_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
