<!DOCTYPE html>
<html>
  <head>
    <title>Simpleblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%unless user_signed_in?%>
      <%= link_to "Sign In", signin_path%>
    <%else%>
      <%= link_to "Logout", signout_path%>
    <%end%>
    <%= yield %>
  </body>
</html>
